/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap'); */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    font: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* header starts */
.header{
    background: #000;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
}
.header .logo{
    width: 39%;
    height: 15%;
    padding: 0;
}
.header .icons #menu-bars{
    display: none;
}
.search-bar{
    width: 100%;
    max-width: 550px;
    height: 42px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin-left: -230px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 2px ;
    font-size: 15px;
}
::placeholder{
    color: #848394;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 42px;
    height: 30px;
    background: #000;
    cursor: pointer;
}
.search-bar button i{
    color: #fff;
}
 .icons i{
    font-size: 20px;
    margin-left: 18px;
    color: #fff;
    cursor: pointer;
    justify-content: space-between;
    display: inline-block;
}
.icons span{
    font-size: 0.7rem;
    display: inline-block;
}
.icons  .zero{
    background: white;
    color: #000;
    font-size: 13px;
    padding-left: 10px;
}
.icons .i span{
    font-size: 0.7rem;
    font-size: 24px;
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
    justify-content: space-between;
}
.icons img{
    width: 20px;
    height: 15px;
}
.icon-text{
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar{
    top: 80px;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    align-items: center;
    height: 12vh;
    padding-top: 20px;
    background: #000;
}
.dropdown {
    min-width: 100px;
    position: relative;
    margin: 20px;
}
.select {
    margin-top: -30px;
    margin-left: 100px;
    width: 260px;
    height: 5px;
    background-color:#000;
    justify-content: center;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    border: 1px solid #757575;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex; /* Added */
}
.selected:hover + .caret {
    transform: rotate(180deg);
}
.select:hover {
    background: #ebebeb;
    color: #000;  
}
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}
.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #ebebeb;
    border: 1px #363a43 solid;
    border-radius: 0.5em;
    color: #000;
    position: absolute;
    top: 3em;
    left: 15%;
    width: 20%;
    max-height: 500px; /* Limiting max height */
    overflow-y: auto; /* Adding scrollbar */
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;
}
.menu li {
    padding: 0.7em 0.5em; 
    margin-bottom : .3em; 
    border-radius : .5em; 
    cursor : pointer; 
    transition : background-color .3s; 
} 
.menu li:hover { 
    background-color : #2a2f35; 
} 
.active { 
    background-color : #23242a; 
} 
.menu-open { 
    display : block; 
    opacity : 1; 
} 
.links-nav{
    justify-content: center;
    position: relative;
    margin-top: -50px;
    margin-left: 280px;
}
.navbar a{
    font-size: 1.0rem;
    border-radius: .5rem;
    padding: .7rem 1.5rem;
    color: white;
    justify-content: space-between;
}
.content-container{
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    place-items: center;
}
.service-container{
    width: 85%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: -5px;
}
.service-container h1{
    font-size: 15px;
    font-weight: 900;
    padding: 2px;
}
.icon-text i{
    font-size: 20px;
}
.icon-text h6{
    padding: 5px;
    font-size: 11px;
    font-weight: 600;
}
.icon-text p{
    font-size: 8px;
    padding: 5px;
    color: #848394;
}
.grids{
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    padding-top: 20px;
}
.long{
    width: 85%;
}
.grid-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.grid-box{
    width: 280px;
    height: 180px;
    background: rgb(237, 237, 253);
    border-radius: 20px;
    line-height: 80px;
    text-align: center;
    margin: 10px;
}
.grid-box a.button{
    padding: 15px 25px;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    background: #000;
    border: 2px solid #000;
    font-size: 15px;
}
.grid-box a.button2{
    padding: 15px 25px;
    background: #fff;
    border-radius: 50px;
    color: #000;
    text-transform: uppercase;
    border: 2px solid #000;
    font-size: 15px;
}
.grid-box p{
    margin-top: -20px;
    font-size: 15px;
}
.links{
    margin-top: -50px;
}
.links i{
    font-size: 40px;
    padding: 4px;
}
.links #facebook{
    color: #3b5998;
}
.links #google{
    background-color: linear-gradient(red,yellow,green,blue);
}
.links #twitter{
    color: #74C0FC;
    border-radius: 20px;
}
#apple i{
    font-size: 20px;
}
.links #apple{
    background: #000;
    color: #fff;
    border-radius: 40px;
    font-size: 26px;
}
.grid-box2{
    width: 350px;
    height: 580px;
    background: rgb(237, 237, 253);
    border-radius: 20px;
    margin: 10px;
}
.grid-box2 h3{
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 900;
    padding: 20px;
}
.grid-box6 h1{
    position: relative;
    margin-left: 230px;
    margin-top: -50px;
    color: white;
}
.grid-box2 p{
    padding: 10px 20px;
    margin-top: -30px;
}
.grid-box6 h2{
    color: red;
    margin-top: -13px;
    margin-left: 50px;
    font-size: 14px;
}
.grid-box6 span{
    font-size: 21px;
}
.grid-box6 .money-discount{
    float: right;
    font-size: 14px;
    margin-right: -10px;
    margin-top: -18px;
    text-decoration: line-through;
    color: #848394;
}
.grid-box6 .money-discount2{
    float: right;
    font-size: 14px;
    margin-right: 130px;
    margin-top: -18px;
    text-decoration: line-through;
    color: #848394;
}
.grid-box6 .pic img{
    width: 170px;
    height: 180px;
    margin-left: 30px;
    border-radius: 40px;
}
.grid-box6{
    width: 310px;
    height: 470px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    align-items: center;
    margin: 0 20px;
}
.grid-box6 img{
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 270px;
    padding: 20px 20px;
    height: 250px;
    border-radius: 30px;
    margin-left: 20px;
}
.grid-box6 .discount{
    float: right;
    position: relative;
    margin-top: -90px;
    padding: 15px;
    width: 120px;
    height: 110px;
}
.grid-box3{
    width: 450px;
    height: 270px;
    background: rgb(237, 237, 253);
    border-radius: 20px;
    margin: 10px;
}
.grid-text{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
.cards-grid{
    display: flex;
    width: 120px;
    height: 150px;
    border-radius: 20px;
    margin: 10px;
}
.pic-grid {
    display: grid;
}
.no {
    display: flex;
}
/* active */
.cards-grid h2{
    font-size: 13px;
    margin-top: -10px;
    margin-left: -40px;
    color: red;
    justify-content: center;
    text-align: center;
}
.grid-text p{
    font-size: 18px;
    margin-left: 22px;
    margin-top: -18px;
}
.cards-grid span{
    font-size: 20px;
}
.text-grid p{
    background: red;
    font-size: 13px;
    color: #fff;
    width: 50%;
    font-weight: 700;
    text-decoration: line-through;
}
span.next-to{
    font-size: 15px;
    color: #4b4a55;
}
.grid-box3 h3{
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 900;
    padding: 20px;
}
.cards-grid{
    width: 100%;
}
.pic-grid img{
    width: 145px;
    padding: 15px;
    height: 150px;
    border-radius: 30px;
}
.grid-container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -400px;
}
.grid-box4{
    width: 280px;
    height: 380px;
    background: rgb(255, 245, 239);
    border-radius: 20px;
    line-height: 200px;
    text-align: center;
    margin: 10px;
}
.grid-container3{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: -300px;
}
.grid-box5{
    width: 450px;
    height: 270px;
    background: rgb(237, 237, 253);
    border-radius: 20px;
    margin: 20px;
}
.grid-box5 h3{
    font-size: 25px;
    font-weight: 900;
    padding: 20px;
}
.grid-box5 p{
    padding: 10px 20px;
    margin-top: -30px;
}
.grid-text5{
    width: 85%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
.cards-grid5{
    display: flex;
    width: 120px;
    height: 180px;
    border-radius: 20px;
    margin: 10px;
}
.pic-grid5 img{
    height: 55%;
    width: 130px;
    height: 140px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.pic-grid5 p{
    font-size: 10px;
}
.info-grid h2{
    color: red;
    font-size: 10px;
}
.info-grid span{
    font-size: 11px;
}
.info-grid .money-discount2{
    float: right;
    font-size: 14px;
    margin-top: -18px;
    text-decoration: line-through;
    color: #848394;
}
.cards-grid5 i{
    padding: 2px;
    font-size: 10px;
}
.cards-grid5 h2{
    font-size: 15px;
}
.cards-grid5 span{
    font-size: 20px;
}
.pic-grid .my-discount{
    float: right;
    font-size: 14px;
    margin-right: 20px;
    margin-top: -18px;
    color: red;
    background-color: rgb(248, 188, 217);
}
.grid-box8 img{
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 145px;
    padding: 5px;
    height: 150px;
    border-radius: 30px;
}
.square-container{
    width: 85%;
    justify-content: center;
    place-items: center;
    padding-top: 20px;
    flex-direction: row;
    margin: auto;
}
.square-container h2{
    padding-bottom: 20px;
}
.square-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards{
    display: flex;
    width: 208px;
    height: 380px;
    background: white;
    border-radius: 20px;
    margin: 10px;
}
.pic{
    position: relative;

    svg{
        position: absolute;
        bottom: 190px;
        right: 20px;
        background: white;
        padding: 15px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        fill: #000;
        color: #000;

        &:hover{
            background: #000;
            fill: white;
        }
    }
}
.pic img{
    height: 55%;
    object-fit: cover;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.pic p{
    font-size: 10px;
}
.cards i{
    padding: 2px;
    font-size: 10px;
}
.cards h2{
    font-size: 15px;
}
.cards span{
    font-size: 30px;
}
.text p{
    background: red;
    font-size: 13px;
    color: #fff;
    width: 50%;
    font-weight: 700;
    text-decoration: line-through;
}
.text h3{
    font-size: 15px;
    font-weight: 100;
    padding-top: 10px;
}
span.next-to{
    font-size: 15px;
    color: #4b4a55;
}
.text  span{
    background: #fff;
    color: red;
    font-size: 39px;
    width: 50%;
    display: flex;
    float: right;
    margin-top: -14px;
    font-weight: 800;
}
.text .s1{
    background: red;
    font-size: 12px;
    color: #fff;
    width: 45%;
    font-weight: 600;
    display: flex;
}
.info p{
    font-size: 14px;
}
.text span{
    font-size: 10px;
}
.wrapper{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0 35px;
    margin-top: -130px;
}
.wrapper h2{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: -450px;
}
.wrapper i{
    height: 50px;
    width: 60px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    font-size: 1.25rem;
    position: relative;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0,0.23);
}
.wrapper i:first-child{
    left: -22px;
}
.wrapper i:first-child{
    right: -22px;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.carousel :where(.slides, .img){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carousel.dragging{
    scroll-behavior: auto;
}
.carousel.dragging .slides{
    cursor: grab;
    user-select: none;
}
.carousel .slides{
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    height: 342px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15px;
}
.slides .img{
    width: 148px;
    height: 148px;
    border-radius: 50%;
}
.slides .img img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid black;
}
.slides h2{
    font-weight: 900;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    padding-top: 20px;
    margin-top: -90px;
    background: rgb(237, 237, 253);
}
.footer-container{
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-grid{
    width: 250px;
    height: 380px;
    border-radius: 20px;
    line-height: 20px;
    margin: 10px;
}
.footer a{
    color: #757575;
    
}
.footer-grid2{
    width: 200px;
    height: 110px;
    border-radius: 20px;
    line-height: 25px;
    margin: 10px;
}
.footer-grid2-1{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    line-height: 25px;
    margin: 10px;
}
.footer-grid3{
    width: 400px;
    height: 180px;
    border-radius: 20px;
    line-height: 25px;
    margin: 10px;
}
.footer-grid3 img{
    width: 50px;
}
.footer-grid4 i{
    font-size: 35px;
}
.next-footer{
    width: 100%;
}
.footer-content{
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    padding-top: 20px;
    background: rgb(237, 237, 253);
}
.next-footer{
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.next-footer-text{
    width: 550px;
    height: 100px;
    border-radius: 20px;
    line-height: 25px;
    margin: 10px;
    display: grid;
    grid-template-rows: minmax(2, 1fr);
}
.next-footer a{
    font-size: 14px;
    color: #757575;
    text-decoration: none;
}
.end-footer {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end-footer-content{
    width: 85%;
}
.end-footer p{
    color: #757575;
    font-size: 15px;
}
.footer-icons{
    position: fixed;
    margin-bottom: 70px;
    bottom: 0;
    right: 0;
}
.footer-icons2{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
}
.footer-icons i{
    padding: 20px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.footer-icons2 i{
    padding: 20px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
/* for now */
.grid-box4 h3{
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 900;
    margin-top: -70px;
    border-radius: 190px;
}
.grid-box4 p{
    margin-top: -170px;
}
.tex-heading{
    margin: 40px auto;
    text-align: center;
    font-size: 8px;
    max-width: 600px;
    position: relative;
}
.tex-heading h1::before{
    content: "";
    display: block;
    width: 850px;
    background: #f1eeee;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}
.tex-heading h1::after{
    content: "";
    display: block;
    width: 850px;
    background: #f1eeee;
    height: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}
.tex-heading span{
    background-color: white;
}
/* Slideshow container */
.slideshow-container {
    max-width: 400px;
    position: relative;
    margin-top: -50px;
}
  /* Hide the images by default */
.mySlides {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -182px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-left: -140px;
    background-color: rgba(0,0,0,0.4);
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  /* Caption text */
.texter h2{
    color: red;
    font-size: 13px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.texter span{
    font-size: 20px;
}
.mySlides img{
    margin-top: -30px;
    height: 250px;
    object-fit: cover;
}
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Media query for screens smaller than 768px */


@media (max-width:768px) {
     #icons #menu-bars{
        display: block;
    }
    nav .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #ffffff;
        border-top: .1rem solid rgba(0, 0, 0,.2);
        border-bottom: .1rem solid rgba(0, 0, 0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 0 0);
    }
    .header .logo{
        width: 20%;
        height: 15%;
    }
    .search-bar{
        width: 100%;
        max-width: 350px;
        height: 42px;
        background: white;
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding: 10px 20px;
        margin-left: -360px;
    }
    .search-bar input{
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 2px ;
        font-size: 15px;
    }
    ::placeholder{
        color: #848394;
    }
    .search-bar button{
        border: 0;
        border-radius: 50%;
        width: 35px;
        height: 30px;
        background: #000;
        cursor: pointer;
    }
    .search-bar button i{
        color: #fff;
    }
    .icons i{
        font-size: 25px;
    }
    .icons span{
        display: none;
    }
    .navbar{
        position: relative;
        top: 10; left: 0; right: 0;
    }
    .dropdown {
        min-width: 80px;
        position: relative;
        margin: 20px;
    }
    .select {
        margin-top: -30px;
        margin-left: 20px;
        width: 210px;
        height: 5px;
    }
    .selected:hover + .caret {
        transform: rotate(180deg);
    }
    .links-nav{
        margin-right: 12px;
    }
    .links-nav a{
        font-size: 12px;
        padding: 5px;
    }
    .grid-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .grid-box2{
        width: 332px;
        height: 430px;
    }
    .grid-box{
        height: 160px;
        background: rgb(237, 237, 253);
        border-radius: 20px;
        text-align: center;
    }
    .grid-box a.button{
        padding: 10px 15px;
    }
    .grid-box a.button2{
        padding: 10px 15px;
    }
    .grid-box6 .pic img{
        width: 230px;
        height: 110px;
    }
    .grid-box6{
        width: 290px;
        height: 320px;
    }
    .grid-box6 img{
        align-items: center;
        width: 240px;
        height: 160px;
    }
    .grid-box3{
        width: 280px;
        height: 250px;
        margin-top: -260px;
    }
    .pic-grid img{
        width: 135px;
        padding: 20px;
        height: 130px;
        margin-top: -30px;
        border-radius: 30px;
    }
    .grid-container2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .grid-box4{
        width: 280px;
        height: 300px;
        margin-top: -20px;
    }
    .mySlides img{
        margin-top: -30px;
        height: 200px;
        border-radius: 30px;
        padding: 15px;
        object-fit: cover;
    }
    .grid-container3{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin-top: -300px;
    }
    .grid-box5{
        width: 330px;
        height: 300px;
        margin-right: 10px;
        margin-top: -10px;
    }
    .pic-grid .info h2{
        color: red;
        margin-top: -35px;
    }
    .square-container{
        width: 85%;
        padding-top: 20px;
    }
    .square-container h2{
        padding-bottom: 20px;
    }
    .square-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
/* Media auery for the slide show */
@media screen and (max-width: 900px) {
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 600px) {
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
}
